.App {
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
  background-color: rgba(223, 255, 28, 1);
}
.div {
  display: flex;
}
@media (max-width: 999px) {
  .div {
    flex-direction: column;
    align-items: stretch;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(100%);
  margin-left: 0px;
}
@media (max-width: 999px) {
  .column {
    width: 100%;
  }
}
.landing {
  display: flex;
  max-width: 263.8399658203125px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 14px;
  width: 14px;
}
@media (max-width: 640px) {
  .header {
    margin-right: auto;
  }
}
.image {
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.image-sizer {
  width: 100%;
  padding-top: 142.85714285714286%;
  pointer-events: none;
  font-size: 0;
}
.logo {
  max-width: 71px;
  margin-left: 8.66340160369873px;
  color: rgba(11, 10, 10, 1);
  font-size: 18.901966094970703px;
  line-height: 120.00000476837158%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 640px) {
  .logo {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 10px;
  }
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: 200px;
}
@media (max-width: 640px) {
  .body {
    height: auto;
    padding-bottom: 30px;
  }
}
.runner {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 186px;
  width: 186px;
  margin-top: 50px;
}
@media (max-width: 640px) {
  .runner {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
  }
}
.image-sizer-2 {
  width: 100%;
  padding-top: 82.79569892473118%;
  pointer-events: none;
  font-size: 0;
}
.uncollateralized-loan-in-just {
  max-width: 250px;
  color: rgba(11, 10, 10, 1);
  font-size: 25.202619552612305px;
  line-height: 120.00000476837158%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}
@media (max-width: 640px) {
  .uncollateralized-loan-in-just {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer {
  margin-bottom: 200px;
}
.log-in-lens-metamask-walle {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: 200px;
  max-width: 234px;
  color: rgba(0, 0, 0, 1);
  font-size: 12.601309776306152px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.button-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#coolButton {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: 200px;
  width: 30px;
  max-width: 300px;
  object-position: center;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: auto;
  width: auto;
  border-radius: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dfff1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
