.App {
  text-align: center;
}
.main {
  display: "flex";
  width: "100vw";
  height: "6vh";
  align-content: "center";
  justify-content: "center";
  background-color: hwb(182 39% 0%);
}
.navbar {
  border-bottom: solid 1px #ebebeb;
}
.bottom-tab-nav {
  border-top: solid 1px #ebebeb;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}
.bottom-tab-label {
  font-size: 12px;
}
.div {
  display: flex;
}
.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(100%);
  margin-left: 0px;
}
@media (max-width: 999px) {
  .column {
    width: 100%;
  }
}
.landing {
  display: flex;
  max-width: 263.8399658203125px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.header {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 14px;
  width: 14px;
}
@media (max-width: 640px) {
  .header {
    margin-right: auto;
  }
}
.modal-container {
  width: "100vw";
  display: flex;
  align-content: center;
  justify-content: center;
}
.image {
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.image-sizer {
  width: 100%;
  padding-top: 142.85714285714286%;
  pointer-events: none;
  font-size: 0;
}
.logo {
  margin-left: 8.66340160369873px;
  align-content: "center";
  justify-content: "center";
}
.body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  height: 200px;
}
.runner {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 186px;
  width: 186px;
  margin-top: 50px;
}
.image-sizer-2 {
  width: 100%;
  padding-top: 82.79569892473118%;
  pointer-events: none;
  font-size: 0;
}
.center-container {
  min-width: 150px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.world-container {
  min-width: 150px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}
.button-container {
  min-width: 150px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.info {
  margin-top: 0px;
  margin: bottom 0px;
}
